/*------------------------- *\
        RESPONSIVE CSS
/*--------------------------*/

/* 1-LAPTOP MEDIUM */
@media only screen and (min-width:991px) and (max-width:1199px) {
    .container {
        max-width: 991px;
    }


    /* Home page  Trending product */
    .trendings .item {
        min-width: 32%;
    }

    .trendings .products .item .image {
        width: 100%;
    }


    .trendings .products .item img {}


    /* Blog Page  */
    .blog .container .right .wrapper .item {
        max-width: 325px;
    }

    .blog .wrapper .item .img {
        width: 100%;
        height: 300px;
    }

    /* Products Page  */
    .products-list .item {
        max-width: 380px;
    }

    .products .products-list img {
        width: 100%;
    }

    .products-list .item .image {
        width: 330px;
    }

    /* Contact page  */
    textarea {
        width: -webkit-fill-available;
    }

    /* Product details */
    .pro-details-quality {
        flex-wrap: wrap;
    }

    .add-to-cart {
        margin-left: 0;
        margin-top: 10px;
    }

    .tab3 .right {
        padding: 0 20px;
    }

    /* Blog Single  */
    .single .container img {
        width: min-content;
    }


    /* Cart */
    .continue-shopping {
        font-size: 0.6rem;
        padding: 5px 10px;
    }

    .cart .inventory {
        gap: 10px;
    }
}

/* 2-TABLETTE */
@media only screen and (min-width:768px) and (max-width:991px) {
    .container {
        max-width: 768px;
    }

    /* Home page */
    .header-search .right {
        display: none;
    }

    footer p {
        font-size: 0.8rem;
    }

    .header-main .container .wrapper .left .cat-content {
        display: none;
    }

    .carousel .wrapper {
        width: calc(100%);
        margin-left: auto;
    }

    .trendings .products {
        overflow: auto hidden;
        overscroll-behavior-inline: contain;
        scroll-snap-type: inline mandatory;
        flex-wrap: nowrap;
        width: 100%;
    }


    .trendings .products .item {
        min-width: 32.55%;
    }


}

/* 3-MOBILE LARGE */
@media only screen and (min-width:575px) and (max-width:768px) {
    .container {
        max-width: 575px;
    }

    html{
        font-size: 15px;
    }

    /* HOme page */
    .header-search .left {
        display: none;
    }
    
    
    .header-search .center{
        width: 100%;
    }
    
    .header-search .center input{
        width: 100% !important;
    }

    .header-search .right {
        display: none;
    }

    footer p {
        font-size: 0.8rem;
    }

    .header-main .container .wrapper .left .cat-content {
        display: none;
    }

    .carousel .wrapper {
        width: calc(100%);
        margin-left: auto;
    }

    .trendings .products {
        overflow: auto hidden;
        overscroll-behavior-inline: contain;
        scroll-snap-type: inline mandatory;
        flex-wrap: nowrap;
        width: 100%;
    }


    .trendings .products .item {
        min-width: 32.55%;
        height: 300px;
    }

    .trendings .products .item .image{
        height: 195px;
    }    
    
    .trendings .products .item img{
        height: 195px;
        width: 195px;
    }

    #myHeader .wrapper{
        height: 60px;
    }

    .header-main .container .wrapper .left .cat-head{
          padding: 18px;
    }

    .header-main .right .badge span{
        width: 15px;
        height: 15px;
        top: 7px;
        right: 4px;

    }

}

/* 4-MOBILE MEDIUM */
@media only screen and (min-width:340px) and (max-width:575px) {
    .container {
        max-width: 340px;
    }
    html{
        font-size: 15px;
        /* background: var(--black-color); */
    }

    /* HOme page */
    .header-search  .left {
        display: none;
    }  
    
    footer{
        margin-bottom: 80px;
    }
    .header-top  {
        display: none;
    }
      
    .header-main  {
        display: none;
    }
    

    .header-search  .center{
        width: 100% !important;
    }   
    
    .header-search .center select{
        display: none;
    } 
    
    .header-search .center input{
        width: 100% !important;
    }

    .header-search .right {
        display: none;
    }

    footer p {
        font-size: 0.8rem;
    }

    .header-main .container .wrapper .left .cat-content {
        display: none;
    }

    .carousel .wrapper {
        width: calc(100%);
        margin-left: auto;
        height: 400px;
    }

    .carousel .wrapper .swiper{
         height: inherit;
    } 
    
    .carousel .wrapper h2{
        font-size: 1.5rem;
    }    
    
    .carousel .wrapper h2 a{
        font-size: 1rem;
    }

    .trendings .products {
        overflow: auto hidden;
        overscroll-behavior-inline: contain;
        scroll-snap-type: inline mandatory;
        flex-wrap: nowrap;
        width: 100%;
    }


    .trendings .products .item {
        min-width: 49%;
        height: 300px;
    }

    .trendings .products .item .image{
        height: 195px;
    }    
    
    .trendings .products .item img{
        height: 195px;
        width: 195px;
    }

    #myHeader .wrapper{
        height: 60px;
    }

    .header-main .container .wrapper .left .cat-head{
          padding: 18px;
    }

    .header-main .right .badge span{
        width: 15px;
        height: 15px;
        top: 7px;
        right: 4px;

    }

    .header-search .container .wrapper .center .search-form i{
        right: 300px;
        top: 15px;
        font-size: 2rem;
        color: var(--first-color);
    }

    .header-search input:focus{
        outline: none;
    }

    .header-search .container .wrapper .center .search-form input{
        border-radius: 30px;
        color: var(--black-color);
        border-style: none none solid none;        
        padding-left: 100px;
        font-size: 1rem;
    }

    .trendings .item .btn-actions{
        /* font-size: 0.5rem; */
        top: 25px;
    }

    .trendings .btn-actions li{
        margin-bottom: 20px;
    }

    .trendings .btn-actions li a{
        padding:5px;
    }

    .brands .wrapper{
        display: flex;
        flex-direction: row;
        overflow: auto hidden;
        flex-wrap: nowrap !important;
    }


    .gutters .container{
        padding:0 ;
    }   
    
    .gutters .wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto hidden;
        flex-wrap: nowrap !important;
        scroll-snap-type: inline mandatory;
    }

    .gutters .item{
        min-width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 40px;
        scroll-snap-align: start;
    }  
    
    .gutters .item p{
     font-size: 1rem;
    }

    footer .footer-nav  .container{
        flex-direction: row;
        flex-wrap: wrap;
    }   
    
    footer .footer-bottom  .container .wrapper{
        flex-direction: column;
        gap: 20px;
    }


    .header-fixed{
        background: var(--white-color);
        box-shadow: 0px 1px 8px var(--black-color);
    }

    #fixedHeader .wrapper{
        padding: 10px;
    }  
    
    .header-fixed .container .wrapper .left .logo-text h1{
        top: -22px;
        color: var(--black-color);
    }
    
    .header-fixed .container .wrapper .left .logo-text h2{
        left: 37px;
        color: var(--black-color);
    }

    #fixedHeader :is(.center,.right){
        display: none;
    }

    .nav-bottom  .wrapper{
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 10px;
        background-color: var(--white-color);
        box-shadow: 0px 1px 8px var(--black-color);
        z-index: 1000;
    }
    
    .nav-bottom  .wrapper .icon{
       padding: 5px 20px;
       border-radius: 30px;
       font-size: 1.5rem;
       display: flex;
       align-items: center;
       flex-direction: column;
    }    
    
    .nav-bottom  .wrapper .icon i{
       font-size: 2rem;
       font-weight: var(--fw-700); 
       margin-bottom: 10px;
    }  
    
    .nav-bottom  .wrapper .icon span{
       font-size: 1rem;
       font-weight: var(--fw-300);
    }  
    
    .nav-bottom  .wrapper .icon:hover i{
        color: var(--first-color);
        cursor: pointer;
        transition: all 500ms ease;
    }

    .search-mobile{
        position:fixed;
        top:0;
        left:0;
        background: var(--white-color);
        animation: moveFromTop 400ms ease;
        visibility: hidden;
        z-index:1000;
        width: 100%;
        display: block;
        padding: 5px;
        box-shadow: black 0px 1px 7px;
    }

    .search-mobile input{
        width: 100%;
        border-radius: 20px;
        text-align: left  ;
        border: none;
    }
    
    .search-mobile i{
       font-size: 1.5rem;
       color: var(--first-color);
       font-weight: var(--);
    }
    
    .search-mobile input:focus{
        outline: none;
    }

    #fixedHeader{
        display:none;
    }

    .nav-mobile{
        position: fixed;
        top: 0;
        left: 0;
        background: var(--black-color);
        width: 100%;
        height: 100%;
        z-index: 1000;
        animation: show 400ms ease;
        display: none;
    }
    
    
    .nav-mobile .container{
        height: 100%;
    }


    .nav-mobile .wrapper ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        font-size: 1.5rem;
        font-weight: var(--fw-800);
        margin: auto;
    }   
    
    .nav-mobile .wrapper ul li:hover a{
        color: var(--first-color);    
        transition: all 600ms ease;
    }  
    
    .nav-mobile .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 1;
        height: 100%;
        align-items: center;
    }   

    .nav-mobile .wrapper i{
        color: var(--white-color);
        font-size: 2rem;
        align-self: flex-end;
        margin-top: 10px !important;
    }

    .nav-mobile a{
        color: var(--white-color);
        text-decoration: none;
    }


    /* Cart */
    .cart .wrapper .table-cart{
        min-width: 100% !important;
        overflow: auto hidden;
    }

    .btn-actions-cart{
        overflow: auto hidden;
    }

    .site{
        overflow: hidden;
    }
    
    .cart .wrapper .inventory{
        flex-wrap: wrap;
        gap: 10px;
    } 
    
    .cart .wrapper .inventory > div{
        width: 100%;
    }

    .btn-actions-cart{
        gap: 10px;
    }



    /* Products */

    .products .right{
        margin-left:0 !important;
    }  
    
    .products .products-list{
        display: flex;
        flex-direction: row;
        overscroll-behavior-inline: contain;
        scroll-snap-type: inline mandatory;
        overflow: auto hidden;
        flex-wrap: nowrap;
    }

    .products .products-list .item{
        min-width: 100%;
        scroll-snap-align: start;
    }    
    
    .products .products-list .item .image{
        width: 100%;
    }
    
    .products .products-list .item img{
        width: 100%;
    }   
    
    
    .products.list-grid .item{
        flex-direction: column;
    }

    .products  .wrapper:first-child{
        flex-direction: column;
    }

    #options-products{
        display: none;
    }   
    
    #options-products.show{
        display: block;
    }


    
    /* BLOG */
    .blog .left{
        display: none;
    }  
    
    .blog .all .right{
        width: 100%;
    }  
    
    .blog .right .wrapper{
        margin: 0 !important;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: auto hidden;
        scroll-snap-type: inline mandatory;
        overflow: auto hidden;
    }   
    
    .blog .right .item{
        scroll-snap-align: start;
        max-width: 340px !important;
        min-width: 100%;
    }  

    .blog.single .right .wrapper{
        margin: 0 !important;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: auto hidden;
        scroll-snap-type: inline mandatory;
    }     
    
    .blog.single img{
       width: 100%;
       height: auto;
    }   
    
    .blog.single .share{
       flex-direction: column;
    }   

    .blog.single .share > div{
        margin-top: 10px;
    }    
    
    .blog.single .next-prev{
        justify-content: space-between;
        width: 100%;
    }   
    
    .blog.single .tab3 img{
        width: 100px;
        height: 100px;
    }      
    
    .blog.single .tab3 {
        width: 100%;
    }   
    


}
