/*---------------------------------------------------------------------------------
                    
                    - All css stuf
                    - made by Sylvain Adande : web developer

---------------------------------------------------------------------------------*/

/*----------------------
    ROADMAP : 
    =========
    0-Include all stuf needed
    1-reset css
    2-varibles css
    3-default css
    4-header 
    5-slider main

-----------------------*/

/*----------------------
       0- Including
-----------------------*/
@import url('./animation.css');
@import url('./responsive.css');


/*----------------------
       1- RESET CSS
-----------------------*/

*,::after,::before{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*----------------------
        2-VARIABLES CSS
-----------------------*/

:root{

    /*  COLORS */
    --white-color:#ffffff;
    --black-color:rgb(41, 43, 44);
    --first-color:#FF324D;
    --second-color:#9df9ef;
    --third-color: #edf756;
    --fourth-color: #ffa8B6;
    --last-color: green;
    --bg-color: #2a2a2a;
    --bg-first-color: #eb7292;
    --border-color:#e7d8d8;
    --silver-color:#e7e7e7;

    /* FONT WEIGHT */
    --fw-300 : 300;
    --fw-400 : 400;
    --fw-500 : 500;
    --fw-600 : 600;
    --fw-700 : 700;
    --fw-800 : 800;

    /*  BORDER RADIUS */
    --br-sm : 25%;
    --br-md : 50%;
    --br-lg : 100%;

    /*  FONT FAMILY */

    --ff-poppins : "Poppins";

}


/*----------------------
    3- DEFAULT CSS
-----------------------*/

html{
    font-size:20px;
}

body{
    font-family : var(--ff-poppins),cursive;
}

.flexitem{
    display:flex;
    align-items:center;
}

.griditem{
    display:grid;
}

ul{
    list-style:none;
}

li{

}

a{
    text-decoration:none;
    color:var(--black);
}
.container{
    width: 100%;
    max-width:1200px;
    margin:auto;
}

h1,h2,h3,h4,h5,h6{
    color:var(--black-color);
}

.btn{
    padding:12px 35px;
    transition:all 0.3s ease-in-out 0s;    
}

.btn-fill-out {
    background-color: transparent;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    border: 1px solid var(--color-1st);
    overflow: hidden;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.justify-content-between{
    justify-content:space-between;
}

.justify-content-around{
    justify-content:space-around;
}

.align-items-center{
    align-items:center;
}

.m-l-auto{
    margin-left:auto;
}

.p-l-10{
    padding-left:10px;
}

.p-10{
    padding:10px;
}

.p-20{
    padding:20px;
}

.p-t-10{
    padding-top:10px;
}

.p-b-10{
    padding-bottom:10px;
}

.p-t-20{
    padding-top:20px;
}

.p-b-20{
    padding-bottom:20px;
}

.m-t-10{
    margin-top:10px;
}

.m-b-10{
    margin-bottom:10px;
}

.wrap{
    flex-wrap: wrap;
}

.full-width{
    width:100%
}

.btn-animed1:after{
    content:'';
    height:100%;
    width:0%;
    position:absolute;
    top:0;
    left:0%;
    background:var(--first-color);
    z-index:-1;
    transition: width 300ms ease;
}

.btn-animed1:hover{
    color:var(--white-color);
}

.btn-animed1:hover:after{
    width:100%;
}

.fade{
    animation : fade 1500ms ease;
}

.show{
    animation : show 300ms ease;
}
.center{
    text-align:center;
}

del{
    color: var(--black-color);
    font-weight: var(--fw-800);
}

.off{
        color: var(--last-color);
}

.fill{
        color: var(--first-color) !important;
}

.fill_in{
    color: var(--white-color);
    background: var(--first-color) !important;
}
.reload{
    transform: rotate3d(180deg);
    transition: transform 1s ease;
}

.fill_fifty{
        color: var(--first-color) !important;
}

.icon-md{
    font-size: 2rem;
    color: var(--first-color);
    cursor: pointer;
}

/*----------------------
    4- HEADER
-----------------------*/

/*------Header top-----*/
.header-top {
    border-bottom:1px solid var(--border-color);
}

.header-top .container{
    padding: 10px 0;
}

.header-top .wrapper{
    justify-content:space-between;
}

.header-top .left {
    justify-content:space-between;
    font-size:0.6rem;
    color:var(--gray);
}

.header-top .left i{
    font-size:1.2rem;
}

.header-top .left .hotline{
    margin-left:10px;
}

.header-top .right {
    font-size:0.6rem;
    color:var(--gray);
    justify-content:space-between;
    flex-direction:row;
    gap:30px;
}

.header-top .right ul{
  display:inline-flex;
  margin-left:10px;
}

.header-top .right ul li{
  margin-left:10px;
}

.header-top .right .active{
  color:var(--first-color);
}

.header-top li:hover > a{
    color:var(--first-color);
} /* END OF HEADER TOP */


/* Header search */

.header-search{
    width:100%;
    height:100%;
}

.header-search .container{
    padding: 10px 0;
}

.header-search .container .wrapper{
    justify-content:space-between;
}

.header-search .container .wrapper .left{
    position:relative;
    width:300px;
}

.header-search .container .wrapper .left .logo-image{
    font-size:2rem;
    color:var(--first-color);
    font-weight:400;
    margin-right:10px;
}

.header-search .container .wrapper .left .logo-image:before{
   content:'';
   width:40px;
   height:40px;
   border-radius:var(--br-md);
   background:var(--bg-first-color);
   position:absolute;
   top:1px;
   left:-10px;
   opacity:0.3;
}

.header-search .container .wrapper .left .logo-text{
    flex-direction:column;
    position:relative;
}

.header-search .container .wrapper .left .logo-text h1{
    font-family:var(--ff-poppins);
    font-weight:var(--fw-800);
    font-size:1rem;
    letter-spacing:1px;
    position:absolute;
    top:-30px;
    left:0;
}

.header-search .container .wrapper .left .logo-text h2{
    font-size:0.6rem;
    letter-spacing:1px;
    position:absolute;
    top:-5px;
    left:50px;
    font-weight:var(--fw-400);
    text-transform:uppercase;
}

.header-search .container .wrapper .center {
    position:relative;
}

.header-search .container .wrapper .center .search-form{
    position:relative;
    display:flex;
    flex-direction:row;
}

.header-search .container .wrapper .center .search-form input{
    width:400px;
    padding:10px 40px;
    border:1px solid var(--border-color);
    font-size:0.8rem;
}

.header-search .container .wrapper .center .search-form select{
    padding:20px 40px;
    border:1px solid var(--border-color);
}

.header-search .container .wrapper .center .search-form select option{
    text-transform: capitalize;
    font-size:0.7rem;
    margin:10px;
}

.header-search .container .wrapper .center .search-form i{ 
    position:absolute;
    right:10px;
    top:15px;
}

.header-search .container .wrapper .right{ 
    justify-content:space-between;
}

.header-search .container .wrapper .right i{ 
    font-size:2rem;
    color:var(--first-color);
}

.header-search .container .wrapper .right span{ 
    font-size:1rem;
    font-weight:var(--fw-400);
}
/* end of header center */

/*-----------header main-----------*/
.header-main{
    background: var(--black-color);
}

.header-main .container {

}

.header-main .container .wrapper{
  flex-direction: row;
  justify-content:space-between;
}

.header-main .container .wrapper .left{
    background: var(--first-color);
    max-width:350px;
    position:relative;
}

.header-main .container .wrapper .left .cat-head {
    color:var(--white-color);
    padding:20px;
    text-transform:uppercase;
    justify-content:center;
    align-items:center;
    font-size:0.8rem;
}

.header-main .container .wrapper .left .cat-head i{
    font-size:1.5rem;
}

.header-main .container .wrapper .left .cat-head h3{
    margin-left:10px;
    color:var(--white-color);
}

.header-main .container .wrapper .left .cat-content {
    position:absolute;
    top:70px;
    width:100%;
    box-shadow: var(--black-color) 0px 10px  10px -10px;
}

.header-main .container .wrapper .left .cat-content .cat-list{
    flex-direction:column;
    width: 100%;
}

.header-main .container .wrapper .left .cat-content .cat-list li{
    border:1px solid var(--border-color);
    padding:15px 20px ;
    width: 100%;
    position:relative;
}

.header-main .container .wrapper .left .cat-content .cat-list > li:hover{
    background:var(--first-color);
    color: var(--white-color);
}

.header-main .container .wrapper .left .cat-content .cat-list > li:last-child:hover{
    background:var(--black-color);
    color: var(--white-color);
}

.header-main .container .wrapper .left .cat-content .cat-list li a{
    display:flex;
    align-items:center;
}

.header-main .container .wrapper .left .cat-content .cat-list li a i{
    margin-right:10px;
    font-size:0.8rem;
    text-transform:capitalize;
    font-weight: var(--fw-300);
}

.header-main .container .wrapper .left .cat-content .cat-list li a span{
    font-size:0.8rem;
    text-transform:capitalize;
    font-weight: var(--fw-300);
}

.header-main .container .wrapper .left .cat-content .cat-list li a .ri-arrow-right-s-line{
    margin-left:auto;
    font-size:0.8rem;
    text-transform:capitalize;
    font-weight: var(--fw-300);
}

.header-main .container .wrapper .left .cat-content .cat-list > li:last-child a{
  color:var(--first-color);
  font-weight:var(--fw-600);
}

.header-main .container .wrapper .left .cat-content .cat-list > li:last-child a:hover{
  color:var(--white-color);
}

.header-main .container .wrapper .left .cat-content .cat-list > li:last-child .ri-add-line{
    margin-left:auto
}

.header-main .container .wrapper .left .cat-content .cat-list li .sub-item-content {
    position:absolute;
    top:0px;
    left:272px;
    width:100%;
    box-shadow: 1px 1px 20px -10px var(--black-color);
    display:none;
    z-index: 100;
    background: var(--white-color);
}

.header-main .container .wrapper .left .cat-content .cat-list li .sub-item-content a{
   padding:10px;
   color: var(--black-color);
   font-size: 0.8rem;
   text-transform: capitalize;
   font-weight: var(--fw-300);
   cursor:pointer;
}

.header-main .container .wrapper .left .cat-content .cat-list li:hover .sub-item-content {
    display:block;
    animation: growDown 100ms ease;
}

.header-main .container .wrapper .left .cat-content .cat-list li .sub-item-content a:hover {
    background: var(--first-color);
    color: var(--white-color);
}

.header-main .container .wrapper .left .cat-content .cat-list li ul {
    border:1px solid var(--border-color);
    padding:10px 20px ;
    width: 100%;
    font-size:0.5rem;
    text-transform:uppercase;
}

.header-main .center {
    margin-right: auto;
    margin-left: 40px;
}

.header-main .center nav {
    
}

.header-main .center nav ul{
    gap:20px;
}

.header-main .center nav ul li{
    position:relative;
    line-height: 70px;
}

.header-main .center nav ul li:hover .sub-item-content{
    display: block;
    position:absolute;
    display:flex;
    flex-direction:column; 
    top:70px;
    width:300px;
    box-shadow: 1px 1px 20px -10px var(--black-color);
    animation: rotateX 300ms ease;
    z-index: 100;
    background: var(--white-color);
}

.header-main .center nav a{
    color:var(--white-color);
    text-transform:uppercase;
    font-size:0.8rem;
}

.header-main .center .sub-item-content{
    display:none;
}

.header-main .center .sub-item-content a{
    color:var(--black-color);
    font-weight:var(--fw-400);
    padding: 0 20px;
    font-size:0.7rem;
}

.header-main .center .sub-item-content a:hover{
    color:var(--first-color);
}

.header-main .right {
    display:flex;
    flex-direction:row;
    position:relative;
}

.header-main .right .badge{
    padding-left:50px;
    position:relative;
    cursor:pointer;
    padding: 9px;
}

.header-main .right .badge:hover .ri-shopping-cart-line{
    color:var(--first-color);
}

.header-main .right .checkout-badge:hover .cart{
    display:block;
    animation:growDown 400ms ease;
}

.header-main .right .cart .ri-close-line{
    height: 30px;
}

.header-main .right .cart .ri-close-line:hover{
    background:var(--first-color);
}

.header-main .right .cart{
    position: absolute;
    background: var(--black-color);
    color: var(--white-color);
    left: -341px;
    top: 63px;
    z-index: 100;
    width: 400px;
    display:none;
}

.header-main .right .cart p{
    text-transform: capitalize;
}

.header-main .right .cart .products-list{
    max-height: 300px;
    overflow:auto;
}

.header-main .right .cart .product-item{
    border-bottom: 1px solid var(--border-color);
}

.header-main .right .cart .btn-actions{
    position:relative;
}

.header-main .right .cart .btn-actions .check{
    background: var(--white-color);
    color:var(--black-color);   
    text-transform:capitalize; 
    position:relative;
    z-index:1;
}

.header-main .right .cart .btn-actions .check:hover{
    color:var(--white-color);   
}

.header-main .right .cart .btn-actions .checkout{
    background: var(--second-color);
    color:var(--black-color);   
    text-transform:capitalize; 
    position:relative;
    z-index:1;
}

.header-main .right .cart .btn-actions .checkout:hover{
    color:var(--white-color);   
}

.header-main .right .badge i{
    color:var(--white-color);
    font-size:1.5rem;
}

.header-main .right .badge span{
    color:var(--white-color);
    background:var(--first-color);
    position:absolute;
    top:0px;
    right:-5px;
    width:22px;
    height:22px;
    border-radius:50%;
    text-align:center;
    font-size:0.8rem;
}
/* end of header main */

/* END OF HEADER */

/*----------------------
    5- SLIDER MAIN
-----------------------*/

.carousel  {
    z-index: -99999999;
}

.carousel .container {
 margin-top: 20px;   
}

.carousel .wrapper {
    width:calc(100% - (300px));
    margin-left:auto;
}

.carousel .wrapper .swiper-slide{
   height:500px;
}

.carousel .wrapper .image-container{
   width:100%;
   height:100%;
   object-fit:cover;
}

.carousel .wrapper .image-container img{
   width:100%;
   height:100%;
   object-fit:cover;
}

.carousel .content-slide{
   position:absolute;
   right:0;
   left:5%;
   top:35%;
   z-index:1;
}

.carousel .content-slide > h5{
    font-size:1.2rem;
    font-weight:var(--fw-300);
    transform: translateX(0%);
    animation: left_to_right 1s;
    text-shadow: 2px 2px var(--white-color);
}

.carousel .content-slide > h2{
   font-size:3rem;
   text-transform:capitalize;
   font-weight:var(--fw-600);
   animation: left_to_right 1s;
   text-shadow: 2px 2px var(--white-color);
}

.animated {
    position: relative;
    font-size:2rem;
    color:var(--first-color);
    background:transparent;
    border: 1px solid var(--first-color);
    z-index: 100;
    overflow: hidden;
  }

  .animated:after {
      content: '';
      position: absolute;
      background:var(--first-color);
      top:0;
      left:50%;
      transform: translateX(-50%);
      height:100%;
      width:0;
      transition: width 500ms ease;
      z-index:-1;
  }
  .animated:hover {
      color: #fff;
    }
       
  .animated:hover:after {
    width: 100%;
  } 
/* end of slider */

/* brands */
.brands {

}

.brands .container {
    padding:20px;
}

.brands .container .wrapper{
    justify-content:space-between;
    flex-wrap:wrap;
}

.brands .container .wrapper img{
    opacity:0.6;
}

.brands .container .wrapper img:hover{
   color:var(--first-color);
}
/* end brands */

.trendings {

}

.trendings .container {
    padding:20px 0;
}

.trendings .container .content{

}   

.trendings .head {
    border-bottom: 1px solid var(--silver-color);
}

.trendings .head h2{
    text-transform: capitalize;
}

.trendings .head a{
   text-transform: capitalize;
   color: var(--first-color);
}

.trendings .products{
  gap: 25px;
  overflow: hidden;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}

.products.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

.trendings .item{
  max-width: 25%;
  min-width: 23%;
  box-shadow: 0px 10px 15px var(--border-color);
  overflow: hidden;
  border-radius: 10px;
  position: relative;
   scroll-snap-align: start;
}

.trendings .item .content{
  padding: 0 10px;
}

.trendings .item .content h2{
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: var(--fw-400);
}

.trendings .item .content div span{
  color: var(--first-color);
}

.trendings .item .content div span{
  color: var(--first-color);
}

.trendings .item .content .ri-star-fill{
  color: var(--silver-color);
}

.trendings .item .btn-actions{
  position: absolute;
  top: 40px;
  left: 10px;
  gap: 10px;
  display: none;
}


.trendings .image{
  overflow: hidden;
  width: 280px;
  height: 280px;
  cursor: pointer;
  position: relative;
}

.trendings img{
  width: 280px;
  height: 280px;
  object-fit: cover;
  position: relative;
  opacity: .7;

}

.trendings .item img:hover{
  transition: transform 1000ms ease;
  transform: scale(1.2);
  opacity: 1;
}

.trendings .item .image:hover .btn-actions {
  display: block;
  animation: show 400ms ease;
}

.trendings .btn-actions li {
    margin-bottom: 30px;
    box-shadow: 1px 1px 10px var(--white-color);
}

.trendings .btn-actions li a{
    padding: 10px;
    background: var(--white-color);
}

.trendings .btn-actions li a i{
    font-weight: var(--fw-300);
}

.trendings .btn-actions li a i:hover{
    
}

.trendings .btn-actions li a:hover{
    color: var(--white-color);
    background: var(--first-color);
    animation: rotate 1s ease;
}


.trendings .arrows ul{
   gap: 40px;
   margin: 20px;
}


.trendings .arrows ul li{
  padding: 10px;
  background: var(--silver-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.trendings .arrows ul li:hover{
  color: var(--white-color);
  background: var(--first-color);
  cursor: pointer;
}

.trendings .arrows ul li:hover p{
  color: var(--white-color);
}

.trendings .arrows ul li:hover i{
  color: var(--white-color);
}

.trendings .arrows ul li i{
  color: var(--first-color);
}

.trendings .arrows ul li p{
  text-align: center;
  color: var(--first-color);
}


